<!--
    Launcher for basic stereo camera which publishes images
-->
<launch>
  <!-- Machine settings. See http://www.ros.org/wiki/roslaunch/XML/machine -->
  <!--machine name="local_alt" address="localhost" default="true" /-->
  <!-- stereocamera -->
  <node pkg="camera" type="camera_node" name="camera"
        respawn="true"
        output="screen">

    <remap from="laserscan" to="/scan"/>

    <!-- USB device hardware ID -->
    <param name="usb_hwid" value="1fc9:0094" />

    <!-- Calibration -->
    <param name="calibration_filename" value="/home/boredman/Documents/fisheye-stereo-calibration/build/camcalib.yml" />

    <!-- Camera Exposure in microseconds -->
    <param name="exposure" value="10000" />
    <!-- Camera Analog gain -->
    <param name="analogGain" value="16" />
    <!-- Camera Digital gain -->
    <param name="digitalGain" value="4" />
    <!-- Camera Number of lines -->
    <param name="numLines" value="300" />
    <!-- Camera FPS = 50 / counts = 10 fps -->
    <param name="countsPerFrame" value="5" />
    <!-- Camera Auto Exposure (1 or 0)-->
    <param name="autoExposure" value="1" />
    <!-- Camera Auto Gain Control (1 or 0)-->
    <param name="autoGain" value="0" />
    <!-- Camera Compounding (1 or 0)-->
    <param name="compEnable" value="0" />

    <!-- Enable publishing raw images -->
    <param name="pub_image" value="false" />

    <!-- Enable zoomed center section of images -->
    <param name="zoom_center" value="false" />

    <!-- Enable histogram equalization -->
    <param name="hist_equal" value="true" />
    <!-- Enable histogram drawing -->
    <param name="hist_show" value="false" />

    <!-- Enable publishing rectified images -->
    <param name="pub_rect" value="true" />

    <!-- Disparity number of lines (<= numLines)-->
    <param name="disparity_lines" value="200" />

    <!-- Enable publishing disparity image -->
    <param name="pub_disparity" value="true" />

    <!-- Enable publishing pointcloud -->
    <param name="pub_cloud" value="true" />
    <param name="cloud_range_max" value="5" />

    <!-- Laser scan parameters -->
    <param name="pub_laser" value="false" />
    <param name="scan_range_min" value="0.01" />
    <param name="scan_range_max" value="4" />
    <param name="scan_range_def_infinity" value="true" />
    <param name="scan_height_min" value="-30" />
    <param name="scan_height_max" value="30" />

    <!-- Enable profiling -->
    <param name="profiling" value="false" />

    <!-- Enable saving images on keypress ('s')-->
    <param name="keypress_image_save" value="false" />
    <!-- Folder to save images -->
    <param name="image_save_path" value="/home/boredman/Documents/fisheye-stereo-calibration/build/images/" />
  </node>


<!--
  <node name="image_raw_left" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/left/image_raw" />
    <param name="autosize" value="true" />
  </node>
  <node name="image_raw_right" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/right/image_raw" />
    <param name="autosize" value="true" />
  </node>


  <node name="image_rect_left" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/left/image_rect" />
    <param name="autosize" value="true" />
  </node>
  <node name="image_rect_right" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/right/image_rect" />
    <param name="autosize" value="true" />
  </node>

  <node name="image_disparity" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/disparity" />
    <param name="autosize" value="true" />
  </node>


  <node name="image_stereo" pkg="image_view" type="stereo_view" respawn="false" output="screen">
    <remap from="stereo" to="/camera" />
    <remap from="image" to="image" />
    <param name="autosize" value="true" />
  </node>
-->

</launch>
