<!--
    Launcher for basic stereo camera which publishes images
-->
<launch>
  <!-- Machine settings. See http://www.ros.org/wiki/roslaunch/XML/machine -->
  <!--machine name="local_alt" address="localhost" default="true" /-->
  <!-- stereocamera -->
  <node pkg="minorucam" type="minorucam_node" name="minorucam_node" 
        respawn="true"
        output="screen">

    <!-- left camera device -->
    <param name="dev_left" value="/dev/video1" />
    <!-- right camera device -->
    <param name="dev_right" value="/dev/video0" />
    <!-- Calibration -->
    <param name="calibration_filename" value="/home/pi/calibration.txt" />
    <!-- image width -->
    <param name="width" value="320" />
    <!-- image height -->
    <param name="height" value="240" />
    <!-- Frames per second -->
    <param name="fps" value="30" />
    <!-- Flip the left image -->
    <param name="flip_left" value="false" />
    <!-- Flip the right image -->
    <param name="flip_right" value="false" />
    <!-- Enable histogram equalization -->
  </node>
</launch>

