<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find cherokey_2dnav)/map/plan.yaml"/>

  <!--- Run AMCL -->
  <include file="$(find cherokey_2dnav)/amcl_diff.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam param="recovery_behaviors">
      [{name: conservative_reset, type: clear_costmap_recovery/ClearCostmapRecovery},
       {name: rotate_recovery_pause, type: rotate_recovery_pause/RotateRecoveryPause},
       {name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery},
       {name: rotate_recovery_pause_2, type: rotate_recovery_pause/RotateRecoveryPause}]
    </rosparam>
    <rosparam file="$(find cherokey_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find cherokey_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find cherokey_2dnav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find cherokey_2dnav)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find cherokey_2dnav)/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
